{% extends 'base.html' %}

{% block content_spec %}
 <div class="list-group">
     <a href="{% url 'new-category' %}" class="list-group-item list-group-item action {% if request.path == '/spec/new-category/' %} active {% endif %}">Add new category</a>
     <a href="{% url 'new-feature' %}" class="list-group-item list-group-item action {% if request.path == '/spec/new-feature/' %} active {% endif %}">Add new category feature</a>
     <a href="#" class="list-group-item list-group-item action {% if request.path == '//' %} active {% endif %}">Add feature name</a>
     <a href="#" class="list-group-item list-group-item action {% if request.path == '//' %} active {% endif %}">Add feature for product</a>
 </div>
{% endblock content_spec %}

{% block content %}
<h3 class="text-center mt-5 mb-5">Managing specifications</h3>
    {% block new_content %}

    {% endblock new_content %}
</div>

{% endblock content %}
